﻿@{
    ViewBag.Title = "Home Page";
}

<div class="div-background">
    <div class="div-form-container">
        <div class="div-subcontainer div-login">
            <table>
                <tr>
                    <td class="td-item-right">
                        <p class="p-alert" id="p-loginalert">Wrong Username or Password</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right td-txthead">
                        <span class="span-txthead">Already have an account</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="username" class="input-login-user" id="input-loginuser" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="passsword" class="input-login-pass" id="input-loginpass" />
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <button id="btn-login">Login</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div-subcontainer div-register">
            <table>
                <tr>
                    <td class="td-item-right">
                        <p class="p-alert" id="p-registeralert">User Already Created!</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-txthead">
                        <span class="span-txthead">New Member</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="username" class="input-register-user" id="input-registeruser" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="passsword" class="input-register-pass" id="input-registerpass" />
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <button id="btn-register">Register</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>