﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 580px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #8e94df;
            height: 100%;
        }

        .colorbox {
            background-color: #8e94df;
            height: 50px;
        }

        .sidenav h4 {
            margin-top: 100px;
            text-align: center;
            height: 90%;
            color: white;
        }

        .links {
            margin-top: 10px;
            padding-left: 100px;
        }

        .boxing {
            border-right: solid 1px #aeadb7;
            border-left: solid 1px #aeadb7;
            border-top: solid 1px #aeadb7;
            border-bottom: solid 1px #aeadb7;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .boxing2 {
            border-right: solid 1px #aeadb7;
            border-left: solid 1px #aeadb7;
            border-top: solid 1px #aeadb7;
            border-bottom: solid 1px #aeadb7;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .heading {
            text-align: center;
            border-right: solid 1px #aeadb7;
            border-left: solid 1px #aeadb7;
            border-top: solid 1px #aeadb7;
            border-bottom: solid 1px #aeadb7;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        .btn-report {
            background-color: #675fa3;
            color: white;
        }

        .btn-export {
            background-color: white;
            color: #675fa3;
            border-right: solid 1px #aeadb7;
            border-left: solid 1px #aeadb7;
            border-top: solid 1px #aeadb7;
            border-bottom: solid 1px #aeadb7;
        }

        .input-group {
            padding-left: 230px;
            width: 105%;
        }

        .dropdown {
            padding-left: 100px;
        }
        /* On small screens, set height to 'auto' for sidenav and grid */

    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <br />
            <div class="col-sm-12">
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search for anything" aria-label="Search"
                               aria-describedby="search-addon" />

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Setting</a><br />
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <h4>Menu Panel</h4>
                <ul class="nav nav-pills nav-stacked"></ul><br>

            </div>

            <div class="col-sm-10">
                <div class="col-sm-7">
                    <h3><b>Sales Trends</b></h3>
                    <hr>
                    <div class="heading">
                        <h2>Welcome</h2>
                        <h5>Learn about <a href="">building Web apps with ASP.NET Core.</a></h5>
                    </div>
                    <div class="boxing">
                        <h5></h5>
                    </div>

                    <br><br>
                        <div class="links">
                            <h4>Body</h4>
                            <h5><a class="btn btn-info" href="/Home/Student">Student Page </a></h5>
                            <h5><a class="btn btn-info" href="/Home/Insititute">Institute Page</a></h5>
                        </div>
                </div>
                <div class="col-sm-3">
                    <br />
                    <button class="btn btn-report">Download Report</button>
                    <button class="btn btn-export">Data Export</button>
                    <hr>
                    <div class="colorbox">
                        <ul class="nav nav-pills nav-stacked"></ul><br>
                    </div>
                    <br />
                    <div class="boxing2">
                        <h5></h5>
                    </div>
                </div>
            </div>
</body>
</html>
