﻿html,body{
    margin:0;
    top:0;
    font-family:'Century Gothic';
    color:white;
}
:focus{
    outline:none;
}
.div-background {
    background-image: url('../Media/login.jfif');
    height:100%;
    width:100%;
    position:fixed;
    background-size:cover;
    background-position-y:-130px;
    

}

.div-form-container {
    position: fixed;
    height: 50%;
    right: 5%;
    top: 25%;
    padding: 20px;
}

.div-subcontainer{
    display:inline-block;
    padding:20px;
}

.div-login {
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.span-txthead{
    font-size:12pt;
}

input {
    font-size:12pt;
    margin-bottom:10px;
    background: #9f1212;
    border: none;
    color: white;
    width: 300px;
    padding: 8px 10px;
    border-radius: 20px;
}

button{
    padding:8px 10px;
    background:none;
    border:solid 1px white;
    border-radius:20px;
    color:white;
    width:70px;
}

button:hover{
    background:white;
    color:black;
}

.p-alert{
    visibility:hidden;
    background-color:crimson;
    padding:10px;
    text-align:right;
    margin-top:10px;
}

.td-item-right{
    text-align:right;
}